* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main div {
    width: 100vw;
    height: 100vh;
}

main div:nth-child(1) {background-color: #ff0000;}
main div:nth-child(2) {background-color: #008008;}
main div:nth-child(3) {background-color: #ffff1c;}
