* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Azeret Mono', monospace;
}

a {
    color:#010101;
    text-decoration: none;
}

nav {
    position: fixed;
    right: 0;
    padding: 24px;
    z-index: 2;
}

nav ul li {
    display: inline-block;
    border-radius: 50px;
    margin-right: 16px;
    background-color:#ffffff;
}

nav ul li a {
    display: block;
    text-align: center;
    width: 60px;
    line-height: 60px;
}

main div:not(.container_text) {
    position: relative;
    width: 100vw;
    height: 100vh;
}

main div:not(.container_text):nth-child(1) {background-color: #ff0000;}
main div:not(.container_text):nth-child(2) {background-color: #008008;}
main div:not(.container_text):nth-child(3) {background-color: #ffff1c;}

main div img {
    position: relative;
    width: 50vw;
    left: 25vw;
    top: 5vh;
}

.container_text {
    width: 100vw;
    height: 30vh;
    padding: 0 5vw;
}

.container_text h3 {
    font-size: 3vw;
    text-transform: uppercase;
    text-align: center;
}

.text1, .text2 {color: #ffff1c;}
.text3 {color: #008008;}